*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #3f3e3e;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

#btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
input{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #ccc;
}